
body{
   
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 197, 255);
    
}

#container{
    width: 60%;
    height: 60%;
    border-radius: 20px;
    background-color: rgb(132, 75, 238);
}

#login{
    
    color: aliceblue;
    text-align: center;
    display: block;
}

#userData{
    margin: 0px 10px 0px 10px;
    color:white;
    display: grid;
    gap: 5px;
}
#loginButton{
    font-size:  20px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
#logButton{
    
    margin: 10px;
    font-size: 20px;
}
/* estilo de principal*/

